.metadata
/**/.metadata
.settings
/**/.settings/*
.recommenders/*
/**/.recommenders/*
.recommenders/*
/**/target
/**/*.log
/**/logs
/**/log
#Eclipse files
/**/.setting
/**/.classpath
/**/.project

#Intelli-j files
